body {
	background-color: pink;
	text-align: center;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.networks a {
	color: #FFC0CB;
	text-decoration: none;
	font-size: xx-large;
	transition: font-size 1s;
}

.networks a:hover { 
	color: black;
	font-size: x-large;
}

.btn-default {
	color: #fff;
	background-color: #FFC0CB;
	border-color: transparent;
}

#follow-me, #welcome {
	padding-top: 100px;
}