---
layout: page
title: Category Index
permalink: /categories/
title: Categories
description: "An archive of posts sorted by categories."

---

<ul class="category-box inline">
{% assign cat_list = site.categories %}  
  {% if cat_list.first[0] == null %}
    {% for cat in cat_list %} 
      <li><a href="#{{ cat }}">{{ cat | capitalize }} <span>{{ site.tags[cat].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for cat in cat_list %} 
      <li><a href="#{{ cat[0] }}">{{ cat[0] | capitalize }} <span>{{ cat[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign cat_list = nil %}
</ul>

{% for category in site.categories %} 
  <h2 id="{{ category[0] }}">{{ category[0] | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = category[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}