<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">Contact me</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.owner.github %}
          <li>
            <a href="https://github.com/{{ site.owner.github }}">
              <span class="icon icon-github"></span>
              <span class="username">{{ site.owner.github }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.owner.linkedin %}
          <li>
            <a href="https://www.linkedin.com/in/{{ site.owner.linkedin }}">
              <span class="icon icon-linkedin"></span>
              <span class="username">{{ site.owner.linkedin }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.owner.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.owner.twitter }}">
              <span class="icon icon-twitter"></span>
              <span class="username">{{ site.owner.twitter }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.owner.email %}
          <li>
            <a href="mailto:{{ site.owner.email }}">
              <span class="icon icon-mail"></span>
              <span class="username">{{ site.owner.email }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
