<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
<script src="{{ site.baseurl }}/assets/js/foundation.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/dianafa_me.js"></script>
<script src="{{ site.baseurl }}/assets/js/nprogress.js"></script>

<script>
  $(document).foundation();
</script>
<script>NProgress.start();var interval=setInterval(function(){NProgress.inc()},1000);jQuery(window).load(function(){clearInterval(interval);NProgress.done()});jQuery(window).unload(function(){NProgress.start()});</script>